[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
coreapi = "*"
coreapi-cli = "*"
markdown = "*"
pygments = "*"
requests = "*"
filetype = "*"
celery = {extras = ["librabbitmq"],version = "*"}
pillow = "*"
jpush = "*"

[requires]
python_version = "3.7"
