body{
	background-color: #fff;
}
a{
	text-decoration: none;
}
.wrap{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.wx-detail{
	padding: 0 .2rem 60px;
}
.detail-top{
	padding-top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.logo-wrap{
	width: 2rem;
	height: 2rem;
	box-shadow: 0 0px 5px rgba(0,0,0,0.1);
	display: table;
	border-radius: 5px;
	margin: .5rem auto 0;
}
.logo-wrap span{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.logo-wrap img{
	width: 1.9rem;
	height: 1.9rem;
	vertical-align: middle;
}
.detail-top h2{
 	font-size: 18px;
 	color: rgb(49,53,58);
 	margin-top: 27.5px;
 	line-height: 25px;
 	font-weight: bold;
 }
 .detail-top p{
 	font-size: 14px;
 	color: rgb(109,109,109);
 	margin-top: 16px;
 	line-height: 20px;
}
.box{
	padding: 22px 0 0;
}
.box:after{
	content:'';
	width: 100%;
	display: block;
	height: 1px;
	margin-top: 22px;
	background-color: rgb(227,227,227);
}
.hb-info{
	padding: 12px 0 0;
}
.hb-info li{
	margin-top: 10px;
	display: flex;
	font-size: 16px;
	line-height: 20px;
}
.hb-info .author{
	line-height: 25px;
}
.hb-info li label{
	width: 80px;
	color: rgb(66,57,57);
	text-align: right;
}
.hb-info li span{
	flex:1;
	color: rgb(109,109,109);
}
.brief-introduction h1,
.related-comment h1{
	font-size: 18px;
	color: rgb(49,53,58);
	line-height: 20px;
	font-weight: bold;
}
.brief-introduction p,
.related-comment p{
	font-size: 16px;
	line-height: 25px;
	padding: 0 5px;
	margin-top: 17px;
	color: rgb(108,102,102);
	text-align: justify;
}
.brief-introduction p a,
.related-comment a{
	color: rgb(254,172,66);
}
.read-more-comment{
	display: inherit;
}
.read-more-comment a{
	font-size: 16px;
	line-height: 20px;
	color: rgb(255,182,88);
	margin: 22px 0 40px;
	display: inline-block;
}
.related-comment dl{
	margin-top: 24px;
	display: flex;
	flex-direction: row;
}
.related-comment dt{
	width: 45px;
	height: 45px;
	margin-right: .15rem;
}
.related-comment dt img{
	width: 100%;
	height: 100%;
	display: block;
} 
.related-comment dl h3{
	font-size: 16px;
	line-height: 22px;
	color: rgb(109,109,109);
}
.related-comment dl p{
	font-size: 12px;
	line-height: 22px;
	color: rgb(158,144,144);
	margin-top: 1px;
	padding: 0;
}
.jump-to-app{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #FFCF00;
	padding: 5px .2rem;
	display: flex;
	flex-direction: row;
}
.jump-to-app-bottom,.fixed-bottom{
	top: auto;
	bottom: 0;
}
.jump-to-app dl{
	display: flex;
	flex-direction: row;
	flex: 1;
}
.jump-to-app dt img{
	width: 40px;
	height: 40px;
	display: block;
	margin-right: 5px;
}
.jump-to-app h1{
	font-size: 15px;
	line-height: 0.21rem;
	margin-top: 1px;
	color: rgb(0,0,0);
}
.jump-to-app dl p{
	font-size: 12px;
	color: #ffffff;
	line-height: 16.5px;
}
.jump-to-app .open-app{
	width: 70px;
	height: 32px;
	margin-top: 4px;
	border-radius: 4px;
	background-color: #fff;
	color: #FFCF00;
	font-size: 15px;
	text-align: center;
	line-height: 32px;
}
.active-page{
	padding: 0 0 70px;
}
.active-page .banner{
	width: 100%;
	height: 350px;
}
.active-page .banner img{
	width: 100%;
	height: 100%;
}
.active-page .content{
	padding: 0 .18rem;
	color: rgb(51,51,51);
	text-align: justify;
}
.active-page .content h1{
	font-size: 18px;
	line-height: 25px;
	margin-top: 28px;
}
.active-page .content .time,
.active-page .content .text{
	font-size: 15px;
	line-height: 21px;
	margin-top: 13px;

}
.active-page .content .text{
	font-size: 15px;
	line-height: 21px;
	margin-top: 
}
.service-agreement{
	padding: 0 22px 50px;
}
.service-agreement h1{
	font-size: 18px;
	line-height: 25px;
	margin-top: 26px;
	font-weight: bold;
	text-align: center;
	color: #333333;
}
.service-agreement .context{
	font-size: 16px;
	line-height: 25px;
	color: rgb(127,119,119);
	text-align: justify;
}
.service-agreement .context h1{
	margin-top: 33px;
}
.service-agreement .context h2,
.service-agreement .context h3{
	margin-top: 20px;
}
.service-agreement .context p{
	margin-top: 10px;
}
.no-comment{
	font-size: 18px;
	height: 1rem;
	text-align: center;
	line-height: 1rem;
}
.hb-info .theme span{
	flex: none;
	margin-right: 10px;
}