DEBUG = True

SECRET_KEY = ''

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'HOST': '127.0.0.1',
        'PORT': '3306',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
    }
}

SMS_CLOOPEN = {
    'accountSid': '',
    'accountToken': '',
    'appId': '',
    'serverIP': '',
    'serverPort': '',
    'softVersion': '',
}

ACCESS_KEY = ''

SITE_DOMAIN = 'http://127.0.0.1:8000'